body, html, #root {
  font-family: 'Mitr', sans-serif;
}

.container-about h2{
  font-family: 'Mitr';
    font-size: 40px;
    font-weight: bold;
    color: #8B8CD6;
    text-align: left;
}

.container-about{
justify-content: center;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
}

.container-image{
 display: flex;
  justify-content: center;
width: 100%;

}

.custom-title{
    font-size: 20px;
}

.custom-subtitle{
    font-size: 17px;
}

.image-list-item{
  margin: 10px;
} 


.aboutme p {
    font-size: 25px;
    color: #FFF;
    position: center; 
    text-align: center;
}

.about-content h2{
    font-size: 24px;
    font-weight: 600;
    color: #8B8CD6;
    padding-top: 15px;
      text-align: left;
}

/* Education */



.education-row {
  width: 100%;
  max-width:800px; /* limit max width for better centering */
  margin: 0 auto; /* center the container horizontally */
  display: flex;
  /* align year and value horizontally */
  align-items: flex-start; /* top align */
  margin-bottom: 1em; /* spacing between each education-row */
}

.year {
  width: 140px;
  white-space: nowrap;
  text-align: left;
  margin-right: 20px;
  font-family: 'Mitr', sans-serif;
  font-size: 20px;
  flex-shrink: 0;
  letter-spacing: 0.5px;
    word-break: break-word;

}

.value {
  font-size: 20px;
  min-width: 500px; /* adjust or use max-width */
  white-space: nowrap;
  letter-spacing: 0.5px;
    word-break: break-word;

}

.subject {
  font-weight: 600;
  display: block;
  word-break: keep-all;
  hyphens: auto;
}

/* Optional: if you want to control finer line spacing */
.value span {
  display: block;
  line-height: 1.2;
}


@media (max-width: 920px) {
  .year {
    margin-right: 0;
    margin-bottom: 5px;
    text-align: left;

  }

  .value {
    min-width: 0;
      white-space: normal;
  }
}





/* Skills */

.skill-flexbox{
    display: flex;
  flex-wrap: nowrap;
    justify-content: center;
}

.skill-item{

  background: linear-gradient(to bottom, #242424 0%, #8b8cd6 100%);
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;

}

.skill-item h4{
  margin: 0;
  padding: 5px 0;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.skill-item p{
  margin: 5px 0;
  font-size: 20px;
  color: #242424;
  font-weight: 400;
}



/* Contact */
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
}

.email a {
  text-decoration: underline;
  color: inherit;
}
