.video-banner{
  justify-content: center; 
    padding-top: 50px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
}

@media (min-width: 640px) {
  /* sm */
  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (min-width: 768px) {
  /* md */
  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (min-width: 1024px) {
  /* lg */
  .video-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.video-item {
   width: 100%;
  cursor: pointer;
}

.video-player {
  width: 100%;
  height: auto;
  border-radius: 0.5rem; /* same as rounded-lg */
  transition: opacity 0.3s ease;
}

.video-player:hover {
  opacity: 0.8;
}