.container-design{
justify-content: center; 
    padding: 50px;
}

.container-image{
 display: flex;
  justify-content: center;
width: 100%;
}

.custom-title{
    font-size: 20px;
}

.custom-subtitle{
    font-size: 17px;
}

.image-list-item{
  margin: 10px;
}